@font-face {
	font-family: "AvenirNext";
	src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("truetype");
}
@font-face {
	font-family: "AvenirNextLTProBold";
	src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("truetype");
}
