@use "/src/styles/partials/_colors" as *;
@use "/src/styles/partials/_typography" as *;

.upload-title {
	display: flex;
	font-family: "AvenirNextLTProBold";
}

.upload-avatar__image {
	height: 12.5rem;
	object-fit: cover;
	width: 100%;
	border-radius: 0.25rem;
	margin-top: 0rem;
}

.upload-form {
	margin-top: 0;
	width: 30%;
	&__text {
		color: $Mercury;
		margin-bottom: 0;
		margin-top: 0rem;
	}
}
.comment-container_upper{
	width: 68%;
    padding-left: 28px;
}
.comment-container_upper form{
	display: inline-block;
    width: 100%;
}

// .upload-main {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-between;
// 	padding-top: 3rem;
// 	padding-bottom: 2rem;
// 	border-top: 2px solid $Mercury;
// 	margin-left: 6rem;
// 	margin-right: 6rem;
// }

.upload-title {
	font-family: "AvenirNextLTProBold";
	// font-size: 2rem;
	// border-bottom: 0.15rem solid $Mercury;
	// padding-top: 3rem;
	// padding-left: 6rem;
	// padding-bottom: 3rem;
	margin: 0;
	width: 100%;
	padding: 30px 0px;
	font-size: 32px;
}

.upper_upload{
	display: flex;
	border-top: 0.15rem solid #e1e1e1;
	border-bottom: 0.15rem solid #e1e1e1;
	padding: 30px 0px;
}

.comment-container {
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.upload-section__box--top {
	// display: flex;
	// flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	// height: 1.5rem;
	background-color: $Alabaster;
	margin-bottom: 2rem;
	border: 1px solid $Mercury;
	outline: none;
	border-radius: 0.313rem;
	font-family: "AvenirNext";
	padding: 20px 15px;
}

.upload-section__box--bottom {
	// display: flex;
	// flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	// height: 4rem;
	background-color: $Alabaster;
	border: 1px solid $Mercury;
	outline: none;
	border-radius: 0.313rem;
	font-family: "AvenirNext";
	padding: 38px 15px;
}

.comment-container__header{
	font-weight: 600 !important;
	letter-spacing: 1px;
	color: #AFAFAF !important;
    font-size: 12px !important;
}
.upload-form__text{
	font-weight: 500;
	letter-spacing: 1px;
    font-size: 14px;
	color: #AFAFAF;
    padding-bottom: 7px;
}
.upload-publish__container {
	display: flex;
	padding: 15px 0px;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;
	// margin-top: 2rem;
	margin-left: 0;
	// margin-top: 4rem;
	// border-top: 2px solid $Mercury;
}

.publish-comment__button {
	font-size: 12px;
    font-weight: 500;
	// font-family: "AvenirNextLTProBold";
	background-color: $button-color;
	color: $White;
	border: 0;
	margin-left: 22px;
	align-items: center;
	background-image: url("../../assets/images/icons/publish.svg");
	background-repeat: no-repeat;
	background-position: 0.7vw center;
	border-radius: 0.25rem;
	padding: 14px 52px;
}

.upload-publish__cancel {
	color: $button-color;
	margin: 0;
	font-weight: 500;
    padding-right: 45px;
	// border-radius: 0.5rem;
}

.link {
	text-decoration: none;
}
@media(max-width: 992px){
	.comment-container_upper{
		width: 100%;
		padding: 15px 0 0;
	}
	.upload-form{
		width: 50%;
	}
	.upper_upload{
		display: inherit;
	}
}
@media(max-width: 767px){
	.upper_upload{
		padding: 0px 0px;
		display: inherit;
		border: none;
	}
	.upload-publish__container{
		justify-content: center;
		flex-direction: column-reverse;
	}
	.upload-form{
		width: 100%;
	}
	.comment-container_upper{
		width: 100%;
		padding: 25px 0px 0px;
	}
	.upload-publish__container a{
		width: 100%;
	}
	.publish-comment__button{
		margin: 0;
		margin-top: 10px;
		width: 100%;
	}
	.upload-publish__cancel{
		padding: 18px 0px 0;
		text-align: center;
		width: 100%;
	}
}