@use "/src/styles/partials/_colors" as *;
@use "/src/styles/partials/_typography" as *;

.header-main {
	font-family: "AvenirNext";
	padding: 0.5rem 0px;
	border-bottom: 2px solid #e1e1e1;
}
.header__logo {
	width: 38%;
}

.header__logo img {
	max-width: 100%;
	width: 7.813rem;
	padding-top: 0.625rem;
}

.upper_header {
	display: flex;
}
.header__button {
	font-family: "AvenirNextLTProBold";
	cursor: pointer;
	background-color: $button-color;
	color: $White;
	border: 0;
	margin-left: 1.5rem;
	align-items: center;
	background-image: url("../../assets/images/icons/upload.svg");
	background-repeat: no-repeat;
	background-position: 0.7vw center;
	border-radius: 0.25rem;
	padding: 0.906rem 2.813rem;
}
.header__button img {
	left: 0.75rem;
	width: 1.25rem;
}

.header__icon-image {
	height: 2.5rem;
	width: 2.5rem;
	object-fit: cover;
	border-radius: 4rem;
	margin-left: 2rem;
}

.header__search--input {
	background-image: url("../../assets/images/icons/search.svg");
	background-repeat: no-repeat;
	background-position: 1vw center;
	background-color: $Alabaster;
	border: 1px solid $Mercury;
	width: 14rem;
	outline: none;
	border-radius: 0.313rem;
	font-family: "AvenirNext";
	padding: 0.875rem 0.5rem;
}

::placeholder {
	padding-left: 2rem;
}

#comment::placeholder {
	padding-left: 0rem;
	color: #333;
	font-size: 1rem;
}
.header-area--right {
	display: flex;
	width: 62%;
	justify-content: flex-end;
}

.upload-link {
	text-decoration: none;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 1200px) {
	.submit-comment__container {
		width: 36%;
	}
}

@media (max-width: 767px) {
	.header__button img {
		left: 0.75rem;
		position: absolute;
	}
	.upper_header {
		display: inherit;
	}
	.header__button {
		width: 100%;
		padding: 0.938rem 0px;
		margin: 1.063rem 0px 0px;
	}
	.header__search--input {
		width: 80%;
	}
	.header__search {
		padding-top: 1.063rem;
		width: 100%;
		display: flex;
	}

	.header__logo {
		width: 100%;
		text-align: center;
	}
	.avatar_upper_div {
		padding: 1.25rem 0px;
	}
	.header-area--right {
		width: 100%;
		display: inherit;
	}

	.mobile_none {
		display: none;
	}
}
