@use "/src/styles/partials/_colors" as *;
@use "/src/styles/partials/_typography" as *;

.main-description {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-description__text {
	display: flex;
	padding: 1.25rem 0px;
	border-bottom: 2px solid #ddd;
}

.video-title {
	color: #323232;
	font-family: "AvenirNextLTProBold";
	font-size: 2.313rem;
	margin: 0px;
}

.video-channel {
	width: 50%;
}
.video-channel h2 {
	color: #474747;
	margin: 0px;
	font-size: 1.25rem;
}
.video-channel span {
	font-size: 0.938rem;
	padding-left: 1.875rem;
	color: #c9c4c4;
	font-weight: 400;
}
.inner_video_views {
	width: 50%;
	padding-right: 1.875rem;
	align-items: center;
	justify-content: end;
	display: flex;
}

.video-description {
	padding: 1.875rem 1.125rem 0 0px;
	margin: 0;
	line-height: 1.563rem;
	font-size: 0.938rem;
	font-family: "AvenirNext";
}

.video-views {
	margin: 0px;
	font-size: 0.813rem;
	padding-left: 1.875rem;
	padding-top: 1px;
	background-image: URL("../../assets/images/icons/views.svg");
	background-repeat: no-repeat;
	color: #d0d0d0;
	font-weight: 400;
	font-family: "AvenirNext";
}

.video-likes {
	font-size: 0.813rem;
	padding-left: 1.875rem;
	padding-top: 1px;
	margin: 0px 0px 0px 1.563rem;
	color: #c9c4c4;
	font-weight: 400;
	background-image: URL("../../assets/images/icons/likes.svg");
	background-repeat: no-repeat;
	font-family: "AvenirNext";
}
