@use "/src/styles/partials/_colors" as *;
@use "/src/styles/partials/_typography" as *;

.video-sidebar__header {
	font-size: 0.875rem;
	color: rgb(195, 195, 195);
	font-weight: 500;
	text-transform: uppercase;
	padding: 0px 0px 1.25rem 0;
	margin: 0px;
}
.desktop_non {
	display: none;
}
.video-container {
	background-color: $DarkBlack;
}

.video-player__section {
	display: flex;
	margin: 0;
}

.video-player__poster {
	height: 25rem;
	width: 90%;
	margin: 0px auto;
}
.inner_section {
	display: flex;
}
.upper_side_bar {
	width: 70%;
	border-right: 2px solid #ddd;
	padding: 2.5rem 0px;
}
.upper-comments {
	width: 35%;
	padding: 1.875rem 1.188rem;

	&__header {
		color: $Silver;
		padding-left: 2.2rem;
		font-size: 1rem;
	}
}

.upper-comments__header{
	padding: 0;
}
.video-sidebar {
	padding: 0px;
	margin: 0px;
}

.upper-comments .test{
	padding: 0px;
}
.sidebar-header__channel {
	margin: 0;
	color: rgb(54, 54, 54);
	font-size: 1rem;
}

.sidebar-main {
	display: flex;
	justify-content: flex-end;
}

.sidebar__content {
	display: flex;
	flex-direction: column;
	color: $DarkBlack;
	font-size: 0.5rem;
}

.sidebar-videos {
	width: 35%;
}
.sidebar-videos img {
	border-radius: 0.313rem;
	max-width: 100%;
	object-fit: cover;
	height: 4.375rem;
	width: 100%;
}
.upper_video_title {
	padding-bottom: 0.938rem;
}
.sidebar-header {
	padding-left: 0.938rem;
	display: inline-block;
	align-self: flex-start;
	width: 65%;
}
.avatar_upper_div:last-child {
	border-bottom: 0px;
}
.sidebar-header h1 {
	font-size: 1rem;
	margin: 0;
	color: #323232;
	font-weight: 600;
	line-height: 1.25rem;
	padding-bottom: 0.625rem;
	font-family: "AvenirNext";
}
.sidebar-content {
	margin-bottom: 1rem;
}

.container {
	margin: 0px auto;
	max-width: 71.25rem;
	padding: 0.938rem 0.938rem;
}

.sidebar-link {
	text-decoration: none;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 1200px) {
	.submit-comment__container {
		width: 36%;
	}
}

@media (max-width: 992px) {
	.inner_section {
		display: inherit;
	}
	.padding_none {
		padding: 0;
	}
	.inner_video_views {
		padding-right: 0px;
	}
	.comment-main {
		padding-left: 0px;
		padding-right: 0px;
	}
	.upper_side_bar {
		width: 100%;
		border: 0px;
		padding: 1.875rem 0px 1.25rem;
	}
	.upper_comments {
		width: 40%;
		padding: 0.625rem 0px;
	}
	.avatar-form {
		padding-left: 1.563rem;
	}
	.comment-container {
		padding-left: 1.563rem;
	}
}
@media (max-width: 767px) {
	.comment-section__box {
		height: 5rem;
	}
	.upper-comments{
		width: 100%;
		padding: 0;
	}
	.video-likes {
		margin: 1.25rem 0px 0 0 !important;
	}
	.comment-title {
		padding: 0.625rem 0px 1.563rem;
	}
	.header__button img {
		left: 0.75rem;
		position: absolute;
	}
	.inner_section,
	.comment-form,
	.upper_header {
		display: inherit;
	}
	.header__button {
		width: 100%;
		padding: 0.938rem 0px;
		margin: 1.063rem 0px 0px;
	}
	.header__search--input {
		width: 80%;
	}
	.header__search {
		padding-top: 1.063rem;
		width: 100%;
		display: flex;
	}
	.desktop_non {
		margin-left: 0.938rem;
		display: inline-block;
		vertical-align: middle;
	}
	.comment-form {
		align-items: inherit;
	}
	.comment-container {
		padding-left: 1.25rem;
	}
	.upper_side_bar {
		width: 100%;
		border: none;
		padding: 1.875rem 0px 1.25rem;
	}
	.header__logo {
		width: 100%;
		text-align: center;
	}
	.upper_comments {
		width: 100%;
		padding: 0.625rem 0px;
	}
	.avatar_upper_div {
		padding: 1.25rem 0px;
	}
	.avatar-form {
		padding-left: 1.563rem;
	}
	.video-title {
		font-size: 1.813rem;
		border-bottom: 2px solid #ddd;
		padding-bottom: 1.063rem;
	}
	.video-channel span {
		padding-left: 0px !important;
		display: block;
		padding-top: 0.938rem;
	}
	.inner_video_views {
		padding-top: 0.625rem;
		display: inline-block !important;
		padding-right: 0px !important;
	}
	.video-description {
		color: #656565;
		padding: 1.875rem 0px 0 0px;
		font-size: 1rem;
	}
	.upper_form {
		width: 100%;
	}
	.submit-comment__container {
		width: 100%;
		text-align: left;
		padding-top: 0.938rem;
	}
	.submit-comment {
		width: 100%;
		background-position: 2vw center;
	}
	.header-area--right {
		width: 100%;
		display: inherit;
	}
	.video-player__poster {
		width: 100%;
	}
	.mobile_none {
		display: none;
	}
}
