@use "/src/styles/partials/_colors" as *;
@use "/src/styles/partials/_typography" as *;

.comment-title {
	font-family: "AvenirNext";
	font-size: 0.938rem;
	padding: 2.188rem 0px 1.25rem;
	margin: 0px;
	color: #323232;
}

.comment-main {
	border-bottom: 2px solid #ddd;
	font-family: "AvenirNext";
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 1rem;
	padding-left: 0.625rem;
	padding-bottom: 2rem;
}
.comment-container {
	padding-left: 2.375rem;
	width: 100%;
}
.upper_form {
	width: 72%;
	display: flex;
}
.comment-container__header {
	font-family: "AvenirNext";
	color: #c6c6c6;
	margin: 0;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.375rem;
}

.submit-comment {
	background-color: #0095ff;
	color: #ffffff;
	background-image: url("../../assets/images/icons/add_comment.svg");
	background-repeat: no-repeat;
	background-position: 0.7vw center;
	border: none;
	border-radius: 0.25rem;
	font-family: "AvenirNext";
	cursor: pointer;
	padding: 0.906rem 2.813rem;
	line-height: 1.063rem;
}
.submit-comment__container {
	width: 28%;
	text-align: right;
}

.comment-section__box {
	width: 100%;
	resize: none;
	overflow: hidden;
	background-color: $Mercury;
	border: 2px solid $Mercury;
	border-radius: 0.313rem;
	font-family: "AvenirNext";
	padding: 0.813rem 0.938rem;
	outline: none;
}

.avatar-form {
	padding-left: 2.5rem;
	position: relative;
}

.avatar_upper_div {
	display: flex;
	padding: 1.563rem 0.625rem;
	border-bottom: 2px solid $Mercury;
}
.avatar-form__image {
	height: 2.625rem;
	width: 2.625rem;
	border-radius: 4rem;
	object-fit: cover;
	background-color: $Mercury;
}

.avatar-form__section {
	display: flex;
	flex-direction: row;
}

.comment-form {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-family: "AvenirNext";
}

.comment__paragraph {
	border-bottom: 0.15rem solid $Mercury;
	padding-bottom: 1rem;
	font-family: "AvenirNext";
}

.main-comments {
	display: flex;
	flex-direction: column;
	font-family: "AvenirNext";
}

.main-comments__name {
	font-size: 1rem;
	color: #323232;
	font-family: "AvenirNext";
	margin: 0px;
}

.main-comments__timestamp {
	position: absolute;
	right: 0.5rem;
	color: #c4c4c4;
	top: 0;
	margin: 0;
	font-size: 0.813rem;
	font-weight: 400;
}

.main-comments__comments {
	margin: 0;
	padding: 0.625rem 0px 0px 0px;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #646464;
	font-family: "AvenirNext";
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 1200px) {
	.submit-comment__container {
		width: 36%;
	}
}

@media (max-width: 992px) {
	.inner_section {
		display: inherit;
	}
	.padding_none {
		padding: 0;
	}
	.inner_video_views {
		padding-right: 0px;
	}
	.comment-main {
		padding-left: 0px;
		padding-right: 0px;
	}
	.upper_side_bar {
		width: 100%;
		border: 0px;
		padding: 1.875rem 0px 1.25rem;
	}
	.upper_comments {
		width: 40%;
		padding: 0.625rem 0px;
	}
	.avatar-form {
		padding-left: 1.563rem;
	}
	.comment-container {
		padding-left: 1.563rem;
	}
}
@media (max-width: 767px) {
	.comment-section__box {
		height: 5rem;
	}
	.video-likes {
		margin: 1.25rem 0px 0 0;
	}
	.comment-title {
		padding: 0.625rem 0px 1.563rem;
	}
	.header__button img {
		left: 0.75rem;
		position: absolute;
	}
	.inner_section,
	.comment-form,
	.upper_header {
		display: inherit;
	}
	.header__button {
		width: 100%;
		padding: 0.938rem 0px;
		margin: 1.063rem 0px 0px;
	}
	.header__search--input {
		width: 80%;
	}
	.header__search {
		padding-top: 1.063rem;
		width: 100%;
		display: flex;
	}
	.desktop_non {
		margin-left: 0.938rem;
		display: inline-block;
		vertical-align: middle;
	}
	.comment-form {
		align-items: inherit;
	}
	.comment-container {
		padding-left: 1.25rem;
	}
	.upper_side_bar {
		width: 100%;
		border: none;
		padding: 1.875rem 0px 1.25rem;
	}
	.header__logo {
		width: 100%;
		text-align: center;
	}
	.upper_comments {
		width: 100%;
		padding: 0.625rem 0px;
	}
	.avatar_upper_div {
		padding: 1.25rem 0px;
	}
	.avatar-form {
		padding-left: 1.563rem;
	}
	.video-title {
		font-size: 1.813rem;
		border-bottom: 2px solid #ddd;
		padding-bottom: 1.063rem;
	}
	.video-channel span {
		padding-left: 0px;
		display: block;
		padding-top: 0.938rem;
	}
	.inner_video_views {
		padding-top: 0.625rem;
		display: inline-block;
		padding-right: 0px;
	}
	.video-description {
		color: #656565;
		padding: 1.875rem 0px 0 0px;
		font-size: 1rem;
	}
	.upper_form {
		width: 100%;
	}
	.submit-comment__container {
		width: 100%;
		text-align: left;
		padding-top: 0.938rem;
	}
	.submit-comment {
		width: 100%;
		background-position: 2vw center;
	}
	.header-area--right {
		width: 100%;
		display: inherit;
	}
	.video-player__poster {
		width: 100%;
	}
	.mobile_none {
		display: none;
	}
}
